
.background{
    background-color:#393E46;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:0;
}

.sidepanel{
    background-color: #EEEEEE;
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.sidepanel-urls{
    width: 100%;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
    white-space: normal;
    float: none;
    outline: 0;
}