{% extends 'base.html' %}


{% block body %}

<table class="rwd-table">
    <tr class="table-header">
        <th>Camera name</th>
        <th>IP Address</th>
        <th>Port</th>
        <th>On/Off</th>
        <th>Status</th>
    </tr>
    {% for cam_info in cameras %}
    <tr class="table-entry">
        <td data-th="Camera name">{{cam_info.cname}}</td>
        <td data-th="IP Address">127.0.0.1</td>
        <td data-th="port">{{cam_info.port}}</td>
        <td data-th="On/Off" class="button-values">
            <div id="status-{{ cam_info.port }}"></div>
            <div class="middle-button">
                <input class="tgl tgl-flat" id="cb{{ loop.index }}" type="checkbox" {% if cam_info.status == 'Active' %}checked{% endif %}>
                <label class="tgl-btn{% if cam_info.status == 'Inactive' %} red{% endif %}" for="cb{{ loop.index }}"></label>
            </div>
        </td>
        <td data-th="Status">{{cam_info.status}}</td>
    </tr>
    {% endfor %}
</table>

<script src="{{ url_for('static', filename='control.js') }}"></script>
{% endblock %}
