{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_main.css')}}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // This script will dynamically load the mapping.js file
    const mappingScript = document.createElement('script');
    mappingScript.type = 'module';
    mappingScript.src = '{{ url_for('static', filename='mapping.js') }}';
    document.head.appendChild(mappingScript);
</script>
{% endblock %}

{% block body %}    


<div id="map"></div>

    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyATLRTOt1U_OyicfEc6fyx939wsGXLY10w", v: "beta"});</script>
</div>




<script>
    const camerasData = {{ cameras | tojson }};
    const userData = {{ user[2] | tojson }};
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function(){
            let videofeeds = document.getElementsByClassName("videofeed");
            for(let i = 0; i<videofeeds.length; i++)
            { 
                setTimeout(function(){videofeeds[i].onclick = function (){
                    if(videofeeds[i].children[0].hasAttribute("fullscreen"))
                        document.exitFullscreen()
                    else videofeeds[i].children[0].requestFullscreen()
                    videofeeds[i].children[0].toggleAttribute("fullscreen")
                }},1000);
                
            }
        },1000);
    });
</script>
<!--Dont forget to remove this in the future-->
<!--<script type="module" src="{{ url_for('static', filename='control.js') }}"></script>-->
{% endblock %}
