{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/log.css')}}">
{% endblock%}

{% block body %}

<div class="grid">
    <body>
        <h1 class="title">Log Viewer</h1>
        <pre id="log-content" class="log">
            {% for l in log %}
                <p {% if l.count("[WARNING]") %} class="warning" {% endif %}>{% if l.count("[WARNING]") %}<i class="fa fa-exclamation-triangle"></i>{% else %}<i class="fa fa-info"></i>{% endif %}{{l}}</p>
            {% endfor %}</pre>
    </body>
</div>
{% endblock %}
<script src="{{ url_for('static', filename='log.js') }}"></script>