<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <title>Login page</title>
</head>

<body>
    <div class="backgrond-image-camera">
        <form class="login" action="{{ url_for('login_user') }}" method="post">
            <p class="title">
                <img src="/static/camera-icon.png">
            </p>
            <input type="text" name="username" placeholder="Username" autofocus/>
            <i class="fa fa-user"></i>
            <input type="password" name="password" placeholder="Password" />
            <i class="fa fa-key"></i>
            <button type="submit">
                <span class="state">Log in</span>
            </button>
        </form>
    </div>
</body>

</html>



