{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}    
<div class="title">
    <h1>Overview</h1>
</div>
<div class="camera-list">
    <div class="device-container">
        <div class="video-block">
            <img src="/static/screenshot-28.jpg">
        </div>
        <h2>CAM-01</h2>
        <input class="tgl tgl-flat" id="cb1"type="checkbox"/>
        <label class="tgl-btn" for="cb1"></label>
    </div>
    <div class="device-container">
        <div class="video-block">
            <img src="/static/screenshot-28.jpg">
        </div>
        <h2>CAM-02</h2>
        <input class="tgl tgl-flat" id="cb2" type="checkbox"/>
        <label class="tgl-btn" for="cb2"></label>
    </div>
    <div class="device-container">
        <div class="video-block">
            <img src="/static/screenshot-28.jpg">
        </div>
        <h2>CAM-03</h2>
        <input class="tgl tgl-flat" id="cb3" type="checkbox"/>
        <label class="tgl-btn" for="cb3"></label>
    </div>
    <div class="device-container">
        <div class="video-block">
            <img src="/static/screenshot-28.jpg">
        </div>
        <h2>CAM-04</h2>
        <input class="tgl tgl-flat" id="cb4" type="checkbox"/>
        <label class="tgl-btn" for="cb4"></label>
    </div>

</div>
{% endblock %}